---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})
{{ .Description | trimspace }}

~> **Note:** Service Principals cannot be managed by the credentials
of another service principal. you need to sign in through your user credentials
by login mode browser or headless in order to use this resource.

~> **Note:** If you rotate and revoke secret at the same time, it will first perform
the revoke operation and then rotate it.

{{ if .HasExample -}}
## Example Usage
{{ tffile "examples/resources/appdynamicscloud_access_client_app/resource.tf" }}
{{- end }}

{{ .SchemaMarkdown | trimspace }}

{{ if .HasImport -}}
## Import
Import is supported using the following syntax:
{{codefile "shell" "examples/resources/appdynamicscloud_access_client_app/import.sh"}}
{{- end }}